{# src/HO/AdminBundle/Resources/views/Member/deleteDoc.html.twig #}

{% extends "HOAdminBundle::layout_manage.html.twig" %}

{% block hoadmin_body %}

<div class="page-header">
	<h1>Delete Documentation</h1>
</div>

<div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-exclamation-sign"></i>
	Don't forget the associated file in /web/documentation
	</div>

<div class="well">
	<p>
		Are you sure you want to delete "{{ doc.name }}" ?
	</p>

	<form action="{{ path('ho_documentation_delete', {'id': doc.id}) }}" method='POST'>
	<a href="{{ path('ho_files_list') }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Retour à la liste</a>
	<input type="submit" value="Delete" class="btn btn-danger" />
	{{ form_rest(form) }}
	</form>
</div>

{% endblock %}